<%- include('includes/head'); %>
  <body>
    <section class="container">
      <h1>Lorem Normal</h1>
    </section>

    <form action="/" method="post">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <label for="name">Cliente</label>
      <input type="text" name="client" />
      <button type="submit">Submit</button>
    </form>

    <script src="./assets/js/bundle.js"></script>
  </body>
</html>
